<h1>Reported Products Pending Review</h1>
<% if flash[:error] %>
  <div class="alert alert-error"><%= flash[:error] %></div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Report Reason</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @reported_listings.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.report_reason %></td>
        <td>
          <%= form_tag moderations_confirm_remove_path do %>
            <%= hidden_field_tag 'listing_id', item.id %>
            <%= submit_tag 'Mark as Fraudulent and Delete', confirm: 'Are you sure you want to delete this fraudulent product?' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>