<h1><%= @listing.title %></h1>

<% if @listing.image.attached? %>
  <%= image_tag @listing.image, alt: @listing.title, style: "max-width: 500px; height: auto;" %>
<% end %>

<p><%= @listing.description %></p>
<p>Price: $<%= @listing.price %></p>

<%= link_to "Message Seller", new_listing_conversation_path(@listing), class: "btn btn-primary" %>
<%= link_to "Report listing", new_listing_report_path(@listing), class: "btn btn-danger" %>
