<h1><%= @listing.title %></h1>
<p><%= @listing.description %></p>
<p>Price: $<%= @listing.price %></p>

<%= link_to "Message Seller", new_listing_conversation_path(@listing), class: "btn btn-primary" %>
<%= link_to "Report This Listing", new_listing_report_path(@listing), class: "btn btn-danger" %>
