<h1>Report Listing</h1>

<p>Reporting listing: <%= @listing.title %></p>

<%= form_with(model: [@listing, @report], local: true) do |f| %>
  <div class="field">
    <%= f.label :reason %><br />
    <%= f.text_area :reason, rows: 5 %>
  </div>

  <div class="actions">
    <%= f.submit "Submit Report" %>
  </div>
<% end %>
